:root{
  /* Colors */
  --pink: #FFA5CE;
  --blue: #CAEDFF;
  --purple: #D8B4F8;
  --light: #FFFCF9;
  --dark: #101010;
  --gray: #454545;

  --light-opacity: #fffcfa80;

  /* Fonts */
  --font-main: 'font-main','sans-serif' !important;
  --font-title: 'font-title','sans-serif' !important;
  --font-title-links: 'font-link','sans-serif' !important;

  --shadow-links: 1px 1px 3px #c594f0;
}

@font-face {
  font-family: 'font-main';
  src: url("../src/fonts/geologica.ttf");
}

@font-face {
  font-family: 'font-link';
  src: url("../src/fonts/fredoka.ttf");
}

@font-face {
  font-family: 'font-title';
  src: url("../src/fonts/calistoga.ttf");
}

* {
  font-family: var(--font-main);
  font-weight: 200 !important;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--light);
  position: relative;
  height: 100%;
}

.cta {
  border: 2px solid var(--dark);
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 5px 15px;
  color: var(--dark);
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta a {
    color: var(--dark);
}

.cta:hover {
  border: 2px solid var(--dark);
}

.titulos-secciones {
  font-family: var(--font-title);
  font-size: 2rem;
  margin-top: 80px;
  margin-bottom: 20px;
}

.nombre-producto {
  font-family: var(--font-title);
  font-size: 3rem;
}

.subtitulo-secciones {
  font-family: var(--font-main);
  font-size: 1.5rem;
  margin-top: 40px;
}

.marco-producto {
  border: 1px solid var(--dark);
  border-radius: 20px;
  width: 100%;
  padding: 6px;
}

.marco-producto img {
  width: 100%;
  border-radius: 15px;
}

.productos-titulo {
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: 400 !important;
}

.bold-text {
  font-weight: 400 !important;
}

.productos-precio,
.clasificacion-producto {
  color: var(--gray);
  font-weight: 200;
  font-size: 1rem;
}

.productos-icono {
  color: var(--dark);
  font-size: 1.2rem;
}

.desc-producto {
  font-size: 1.1rem;
}

.footer {
  background-color: var(--dark);
}

.footer--md {
  position: absolute;
  bottom: 0;
}

.footer-text {
  color: var(--light);
}

.footer-icon {
  color: var(--light);
  font-size: 1.2rem;
}

.dropdown-aromas {
  overflow-y: scroll;
  height: 400px;
  font-size: .9rem;
}

.dropdown-colores {
  overflow-y: scroll;
  font-size: .9rem;
}

.dropdown-toggle::after {
  margin-left: 1em;
}

@media (max-width: 1000px) {

  .footer--md {
    position: static;
  }

}

@media (max-width: 800px) {

  .cta {
    font-size: 1rem;
  }

  .productos-titulo {
    font-size: .9rem;
  }

  .subtitulo-secciones {
    font-size: 1.2rem;
  }

  .nombre-producto {
    font-size: 2.5rem;
  }

  .desc-producto {
    font-size: .95rem;
  }

  .titulos-secciones {
  margin-top: 50px;
}

}