@import url(./global-styles.css);

.navbar {
  background-color: var(--light);
}

.logo {
  height: 60px;
}

.nav-link {
  font-size: 1rem;
  color: var(--dark);
}

.dropdown-item {
  color: var(--dark);
}

.barra-envios {
  background-color: var(--dark);
  padding: 12px 0px;
}

.text-envios {
  color: var(--light);
  font-size: 1rem;
}

.bg-banner {
  object-fit: cover;
  height: 80vh;
}

.marco {
  width: 90%;
  max-width: 550px;
  padding: 25px 0;
}

.marco-titulo {
  font-family: var(--font-title);
  font-size: 2rem;
}

.marco-texto {
  font-size: 1.2rem;
}

.carousel-caption {
  position: absolute;
  right: 15% !important;
  bottom: 15% !important;
  top: 15% !important;
  left: 15% !important;
  filter: drop-shadow(1px 1px 1px #000000);
}

.img-producto img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 800px) {

  .text-envios {
    color: var(--light);
    font-size: .8rem;
  }

  .marco-titulo {
    font-size: 1.5rem;
  }

  .marco-texto {
    font-size: 1rem;
  }

}