@import url(./global-styles.css);

.navbar {
  background-color: var(--light);
}

.logo {
  height: 80px;
}

.nav-link {
  font-family: var(--font-main);
  font-size: 1rem;
    color: var(--dark);
}

.dropdown-item {
  font-family: var(--font-main);
  color: var(--dark);
}